<div class="paper-event">
    <h3>{{titulo}}</h3>
    <br/>
    <div class="row">

        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <ul>
                <li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{fecha}}</li>
                <li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>12 avenida, Guatemala</li>
            </ul>
        </div>


        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 paper-event-description">
            El evento consiste en visitar partes de Guatemala, para la reparacion de danos causados por el huracan ocurrido la semana
            pasada
        </div>

    </div>

    <button type="button" class="btn btn-sm btn-info">
        <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>Asistire
    </button>

</div>