<div class="paper-event">
	<h3>{{titulo}}</h3>
	<br/>
	<div class="row">


		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
			<ul>
				<li><span class="glyphicon glyphicon-time" aria-hidden="true"></span>{{fecha | date:'dd-MM-yyyy'}}</li>
				<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>{{direccion}}</li> aqui va la direcion
				<li><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>id: {{idEvento}}</li>
			</ul>
		</div>




		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 paper-event-description">
			{{descripcion}}
		</div>
		
	</div>
   
	<a  ng-href='#/eventDetails/{{idEvento}}'>Ver todos los eventos</a>
	
	<!--<button class="btn btn-sm btn-info" ng-click="assistEvent({id: idEvento, user: eventCtrl.userId})">
        <span class="glyphicon glyphicon-{{eventCtrl.glyphicon}}" >Ver Evento</span>
    </button> -->


</div>