<div class="evento"> 
    <h2>Detalle del Evento " {{titulo}} "</h2>
    <br>
    <div class="evento-detail">
        <span>
           Fecha: {{fecha | date:'dd-MM-yyyy' }}
        </span>
        <br>
        <span class="desc">
           Descripcion: {{descripcion}}
        </span>
        <br><br>
        <span class="desc">
            Direccion: {{direccion}}
        </span>
        <br><br>
        
        <button class="btn btn-info">
            <span>
                Ver asistentes
            </span>
        </button>
        
        <button class="btn btn-info">
            <span>
                Ver donaciones
            </span>
        </button>
        
        <button class="btn btn-danger" name="cancel">
            <span>
                Eliminar evento
            </span>
        </button>
    </div>
    
</div>
