<div class='login-background'>
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class='register-container animated fadeIn'>
        
        <h3>REGISTRO DE ORGANIZACION</h3>
        
        <form class="form-horizontal" ng-submit="registroCtrl.registroOrga()" name="registerForm">
          
          <div class="form-group">
            <label class="col-md-offset-1 col-md-4">
              Nombre de la organizacion
            </label>
            <div class="col-md-6">
              <input class="form-control" type="text" ng-model='registroCtrl.newUser.nombre' required/>
            </div>
          </div>
          
          <div class="form-group">
            <label class="col-md-offset-1 col-md-4">
              Correo
            </label>
            <div class="col-md-6">
              <input class="form-control" type="email" ng-model='registroCtrl.newUser.correo' required/>
              <!--<p class="help-block error-text" ng-show="registroCtrl.invalidMail">Correo invalido.</p>-->
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-offset-1 col-md-4">
              Usuario
            </label>
            <div class="col-md-6">
              <input class="form-control" type="text" ng-model='registroCtrl.newUser.usuario' required/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-offset-1 col-md-4">
              Contraseña
            </label>
            <div class="col-md-6">
              <input class="form-control" type="password" ng-model='registroCtrl.newUser.password' required/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-offset-1 col-md-4">
              Tipo de organizacion
            </label>
            <div class="col-md-6">
              <select class="form-control" ng-model='registroCtrl.newUser.tipo' ng-options="int.descripcion for int in registroCtrl.intereses track by int.iid"/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-offset-1 col-md-4">
              Direccion
            </label>
            <div class="col-md-6">
              <input class="form-control" type="text" ng-model='registroCtrl.newUser.direccion'/>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-offset-1 col-md-4">
              Departamento
            </label>
            <div class="col-md-6">
                <select class="form-control" ng-model='registroCtrl.newUser.dip' required  
                  ng-options="dep.nombre for dep in registroCtrl.departments track by dep.dip"></select>
            </div>
          </div>
        
          <div class="error-text animate-show" ng-show="registroCtrl.error">
            <h5>Usuario o contraseña incorrecta</h5>
          </div>

          <input type="submit" class="btn btn-danger" value="Registrar" ng-disabled="registerForm.$invalid"/>
          <div><a href='#/login'>Iniciar sesion</a></div>
        
        </form>
      </div>
    </div>
  </div>
</div>