<div class="login-background row">
    <a href="#/registro" class="link-register">
        <div class="option-register col-md-offset-1 col-md-2 animated fadeInUp" >
            <img src="../images/user.png"/>
            <h1>Usuario</h1>
        </div>
    </a>
    <a href="#/registro-empresa" class="link-register">
        <div class="option-register col-md-offset-2 col-md-2 animated fadeInUp">
            <img src="../images/empresa.png"/>
            <h1>Empresa</h1>
        </div>
    </a>
    <a href="#/registro-organizacion" class="link-register">
        <div class="option-register col-md-offset-2 col-md-2 animated fadeInUp">
            <img src="../images/org.png"/>
            <h1>Organizacion</h1>
        </div>
    </a>

    <a href="#/login" id="back-btn-reg"><button class="btn btn-danger animated fadeInUp">REGRESAR</button></a>
</div>