<div class='login-background'>
  <div class="row">
    <div class="col-md-offset-4 col-md-4">
      <div class='login-container'>
        
        <h3>INICIAR SESION</h3>
        
        <form class="form-horizontal">
          
          <div class="form-group">
            <label class="col-md-offset-2 col-md-1">
              <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </label>
            <div class="col-md-6">
              <input class="form-control" type="email" />
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-offset-2 col-md-1">
              <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
            </label>
            <div class="col-md-6">
              <input class="form-control" type="password" />
            </div>
          </div>
        
          <button type="button" class="btn btn-danger">Iniciar Sesion</button>
          <div><a href='#/registro'>Registrate</a></div>
        
        </form>
      </div>
    </div>
  </div>
</div>