<div class="container">
    <div class="profile-paper">
        
        
        <span class="glyphicon glyphicon-pencil edit-option" aria-hidden="true" ng-click="profileCtrl.enableEdit()"></span>
        
        <div class="row">
            <div class="col-md-12 user-img">
                <img src="{{profileCtrl.profilePic}}"/>
            </div>           
        </div>

        <div class="row user-fields">
            <div class="col-md-6">
                <span class="pull-right info-user">
                    Nombre
                </span>
            </div>
            <div class="col-md-6 divider">
                <div ng-hide="profileCtrl.editUser">{{profileCtrl.user.nombre}}</div>
                <input type="text" class="input-edit" ng-show="profileCtrl.editUser" ng-model="profileCtrl.user.nombre"/>
            </div>
        </div>

        <div class="row user-fields">
            <div class="col-md-6">
                <span class="pull-right info-user">
                    Correo
                </span>
            </div>
            <div class="col-md-6 divider">
                <div ng-hide="profileCtrl.editUser">{{profileCtrl.user.correo}}</div>
                <input type="text" class="input-edit" ng-show="profileCtrl.editUser" ng-model="profileCtrl.user.correo"/>
            </div>
        </div>

        <div class="row user-fields">
            <div class="col-md-6">
                <span class="pull-right info-user">
                    Usuario
                </span>
            </div>
            <div class="col-md-6 divider">
                <div ng-hide="profileCtrl.editUser">{{profileCtrl.user.usuario}}</div>
                <input type="text" class="input-edit" ng-show="profileCtrl.editUser" ng-model="profileCtrl.user.usuario"/>
            </div>
        </div>

        <div class="row user-fields">
            <div class="col-md-6">
                <span class="pull-right info-user">
                    Direccion
                </span>
            </div>
            <div class="col-md-6 divider">
                <div ng-hide="profileCtrl.editUser">{{profileCtrl.user.direccion}}</div>
                <input type="text" class="input-edit" ng-show="profileCtrl.editUser" ng-model="profileCtrl.user.direccion"/>
            </div>
        </div>

        <div class="row user-fields">
            <div class="col-md-6">
                <span class="pull-right info-user">
                    Departamento
                </span>
            </div>
            <div class="col-md-6 divider">
                <div ng-hide="profileCtrl.editUser">{{profileCtrl.departamentoNmb}}</div>
                <div ng-show="profileCtrl.editUser">
                    <!--<select class="form-control" ng-model='profileCtrl.user.dip' 
                            ng-options="dep.nombre for dep in profileCtrl.departamentos track by dep.dip"/>-->
                    <select class="form-control" ng-model="profileCtrl.user.dip">
                        <option ng-repeat="dep in profileCtrl.departamentos" value="{{dep.dip}}">{{dep.nombre}}</option>
                    </select>
                </div>               
            </div>
        </div>


        <!--isUser == true, show this-->
        <div class="row user-fields" ng-show="profileCtrl.isUser">
            <div class="col-md-6">
                <span class="pull-right info-user">
                    Sexo
                </span>
            </div>
            <div class="col-md-6 divider">
                <div ng-hide="profileCtrl.editUser">{{profileCtrl.user.sexo == 'M' ? 'Masculino' : 'Femenino'}}</div>
                <div ng-show="profileCtrl.editUser">
                    <select class="form-control" ng-model='profileCtrl.user.sexo'>
                        <option value="">Seleccione su sexo</option>
                        <option value="M">Masculino</option>
                        <option value="F">Femenino</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="row user-fields" ng-show="profileCtrl.isUser">
            <div class="col-md-6">
                <span class="pull-right info-user">
                    Fecha de Nacimiento
                </span>
            </div>
            <div class="col-md-6 divider">
                <div ng-hide="profileCtrl.editUser">{{profileCtrl.user.fechaNacimiento | date:'dd-MM-yyyy'}}</div>
                <div class="row" ng-show="profileCtrl.editUser">
                    <div class="col-md-3">
                        <select class="form-control" ng-model='profileCtrl.date.day' ng-options="d for d in profileCtrl.day" />
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model='profileCtrl.date.month' ng-options="m for m in profileCtrl.month"/>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control" ng-model='profileCtrl.date.year' ng-options="y for y in profileCtrl.year"/>
                    </div>
                </div>
            </div>
        </div>

        <!--isUser == false, show this-->
        <div class="row user-fields" ng-show="!profileCtrl.isUser">
            <div class="col-md-6">
                <span class="pull-right info-user">
                    Interes
                </span>
            </div>
            <div class="col-md-6 divider">
                <div ng-hide="profileCtrl.editUser">{{profileCtrl.interesDescp}}</div>
                <div ng-show="profileCtrl.editUser">
                    <!--<select class="form-control" ng-model='profileCtrl.user.interes' 
                        ng-options="int.descripcion for int in profileCtrl.intereses track by int.iid"/>-->
                    <select class="form-control" ng-model="profileCtrl.user.interes">
                        <option ng-repeat="int in profileCtrl.intereses" value="{{int.iid}}">{{int.descripcion}}</option>
                    </select>
                </div>
            </div>
        </div>


        <div class="row btn-edit" ng-show="profileCtrl.editUser">
            <div class="col-md-12">
                <button type="button" class="btn btn-success" ng-click="profileCtrl.updateUser()">Guardar</button>
                <button type="button" class="btn btn-danger" ng-click="profileCtrl.disableEdit()">Cancelar</button>              
            </div>
        </div>


    </div>
</div>